/*Logo y titulo de la página*/
.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;  
    position: relative;
    left:6%
}

.logo span{
    font-size: x-large;
}

.logo img{
 padding: 5px 20px;
}

/*Imagen Inicio*/
.img-container{
    width: 100%;
}

.txt-container{
 position: absolute;
 left: 750px;
 top: 500px;
 font-size: 10rem;
 color: white;
}

/*Rectangulo container*/

.rectangle{
    position: absolute;
    background-color: #AB473E;
    top: 130px;
    left: 0px; 
    width: 1300px; 
    height: 120px;
}

.rectangle h1{
    position: relative;
    line-height: 40px; 
    color: white;
    font-size: 50px;
    left: 10%;
    
}

/*Platillos*/
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;

}

.card{
    padding: 20px;
    border: 1px grey solid;
    border-radius: 8px;
    margin: 10px;
    border-width: 2px;
}


.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 78%;
    margin: auto;
}

.word-category{
    margin-top: 150px;
    text-align: center;
    font-size: 35px;
}
.category-container img{
    padding: 30px;
}

.button-info{
    margin: auto;
    padding: 1.2rem 3rem;
    position: relative;
    left: 35rem;
    bottom: 0.1rem;
    background-image: url('../../imgs/imgsMenu/BotonInfo.png'); 
    background-size: 85%;
    background-repeat: no-repeat;
}

.search-img{
    margin-left: 45%;
    margin-top: 30px;
}
